<h2>Seu perfil está completo em: <%=@percentage%></h2>
<h3><%= @applicant.profile.inspect %></h3>
<h1><%= @profile.preferred_name %></h1>

<%= link_to 'Ver Graduações', educations_path %>
<%= link_to 'Ver Experiências', professions_path %>
<%= form_with(model: @profile, local:true) do |f| %>
  <div class="field">
    <%= f.label :name, t('.name') %>
    <%= f.text_field :name, value:  @profile.name, :id => 'name_id'%>
  </div>

  <div class="field">
    <%= f.label :preferred_name %>
    <%= f.text_field :preferred_name, value: @profile.preferred_name, :id => 'preferred_name_id' %>
    <a class="btn btn-outline-primary m-1 p-1" onclick="myFunction()">Copy name</a>
    <p>Copie e cole seu nome se não tiver nome alternativo</p>
  </div>

  <div class="field">
    <%= f.label :gender %>
    <div class="field-row">
      <% @genders.each do |opt| %>
      <%= f.label opt.humanize %>
      <%= f.radio_button :gender, opt %>
      <br/>
    </div>
    <% end %>
  </div>
  
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description, value:  @profile.description %>
  </div>
  <div class="field">
    <%= f.label :birth_date %>
    <%= f.date_field :birth_date, class: 'form-control', value:  @profile.birth_date %>
  </div>
  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>
  <%= f.submit 'Enviar' %>
  <script>
  function myFunction() {
    var copyText = document.getElementById("name_id");
    var pasteText = document.getElementById("preferred_name_id");
    copyText.select();
    copyText.setSelectionRange(0, 99999)
    document.execCommand("copy");
    pasteText.focus();
    pasteText.select();
  }
  </script>
<% end %>
