<h1>Show Head Hunter</h1>

<%= @headhunter.inspect %>
<br>
<%= @domain %>
<br>
<h3> <%= @comp.name %> </h3> 
<br>
<% if @headhunter.workspace.avatar.attached? %>
<%= image_tag @headhunter.workspace.avatar, :class => 'headhunter-avatar' %>
<% else %>
<%= image_tag (asset_path('not_found.png')), :class => 'headhunter-avatar' %>
<% end %>
<br>
<%= @headhunter.workspace.inspect %>
<br>
<br>
<%= link_to 'Criar Vaga', new_job_path %>
<%= link_to 'Ver minhas vagas',  workspaces_path %>
