<h2> <%=t('.sign_up')%></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <%= f.fields_for :profile_attributes do |ff|%>
  <div class="field">
    <%= ff.label :name, t('.name') %>
    <%= ff.text_field :name %>
  </div>
  <div class="field">
    <%= ff.label :preferred_name %>
    <%= ff.text_field :preferred_name %>
  </div>
  <div class="field">
    <%= ff.label :description %>
    <%= ff.text_field :description %>
  </div>
  <div class="field">
    <%= ff.label :birth_date %>
    <%= ff.date_field :birth_date, class: 'form-control' %>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit t('.sign_up') %>
  </div>
<% end %>

<%= render "applicants/shared/links" %>
