<div class="container">
  <h1>Experiências</h1>
  <%= link_to 'Criar nova experiência', new_profession_path, 
    :class => 'btn btn-success m-2 p-2' %>
  <%= link_to 'Voltar', edit_profile_path(@applicant), 
    :class => 'btn btn-light m-2 p-2' %>
    <% if @professions.empty? %>
    <h1>Nenhuma experiência cadastrada</h1>
    <% else %>
    <% @professions.each do |m| %>
  
    <div class="card m-2 p-2" style="width: 40rem;">
      <div class="card-body">
        <h5 class="card-title"><%= m.job_role %></h5>
        <h6 class="card-subtitle mb-2 text-muted"> <%= m.company %></h6>
        <p class="card-text">Área: <%= m.job_area %></p>
        <p class="card-text">Faixa salarial: <%= number_to_currency(m.salary) %></p>
        <p class="card-text">Início: <%= m.start_date %></p>
        <p class="card-text">Término: <%= m.end_date %></p>
        <p class="card-text">Atribuições: <%= m.attributions %></p>
        <%= link_to "Editar", edit_profession_path(m.id),:class => "card-link"%>
        <%= link_to "Excluir", profession_path(m.id),  method: :delete, 
          data: { confirm: 'Confirmar exclusão?' }, :class => "card-link"%>
      </div>
    </div>
      <%end%>
  <% end %>
</div>