<div class="form-group bg-light m-2 p-2">
  <h2> <%= t('.log_in') %></h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email",
       :class => "form-control", style: "max-width: 40rem", aria: {describedby: "emailHelp"} %>
   <small id="emailHelp" 
      class="form-text text-muted">We'll never share your email with anyone else.
   </small>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", 
    :class => "form-control", style: "max-width: 40rem" %>
  </div>

  <% if devise_mapping.rememberable? %>
  <div class="form-group form-check">
    <div class="field">
      <%= f.check_box :remember_me, :class => "form-check-input" %>
      <%= f.label :remember_me, :class => "form-check-label" %>
    </div>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit t('.log_in'), :class => "btn btn-primary" %>
  </div>
  <br/>
  <% end %>
  <%= render "applicants/shared/links" %>
</div>
