<h1>Editar nova graduação</h1>
<% @education.errors.full_messages.each do |message| %>
    <p><%= message %></p>
<% end %>

<%= form_for @education, local:true do |f| %>
  <div class="field">
    <%= f.label :institution %>
    <%= f.text_field :institution %>
  </div>
  <div class="field">
    <%= f.label :course %>
    <%= f.text_field :course %>
  </div>
  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_field :start_date, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_field :end_date, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :level %>
    <%= f.number_field :level, class: 'form-control' %>
  </div>

  <%= hidden_field_tag :profile_id, @applicant.id %>

  <%= f.submit 'Enviar' %>
<% end %>
<%= @applicant.profile.inspect %>
<%= @education.inspect %>