<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Novoemprego</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" 
     data-target="#navbarCollapse" aria-controls="navbarCollapse" 
     aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <% if applicant_signed_in? %>
      <li class="nav-item">
        <% if @applicant.profile.avatar.attached? %>
        <%= image_tag @applicant.profile.avatar, :class => 'avatar' %>
        <% else %>
        <%= image_tag (asset_path('not_found.png')), :class => 'avatar' %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to 'Editar Perfil', edit_profile_path(@applicant), 
        :class => 'nav-link btn btn-outline-sucess m-2 p-2' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Home', applicant_root_path, 
          {class: 'nav-link btn btn-outline-primary m-2 p-2'} %>
      </li>
      <li class="nav-item">
           <%= link_to 'Sair', destroy_applicant_session_path, method: :delete, 
           :class => 'nav-link btn btn-outline-danger m-2 p-2' %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>